/* pico stylesheet */
header {
  margin-bottom: 50px;
}

.headerbg {
  text-align: center;
  height: 450px;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #BE3455;
  color: #fff;
  padding: 1rem;
}

.headerimg1 {
  /*background-image: url(assets/headerimg1.png);*/
  height: 200px;
  justify-content: center;
  padding-bottom: 5px;

}

/* do this later */
body {
  background-size: cover;
  background-position: center top -450px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-color: #BE3455;
}

.header-title {
  font-size: 2rem;
  margin: 0;
  text-align: center;
  padding-bottom: 20px;

}

h1 {
  filter: drop-shadow(0px 25px 10px white)
}

h1 span {
  background-color: #fff;

}

.zen {
  color: #BE3455
}

#dropdowns {
  display: flex;
  grid-gap: 10px;
  padding: 10px;
  justify-content: center;
}

#submit {
  width: 20%;
  display: flex;
  /* center button */
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;

}

#player {
  display: flex;
  margin: 0 auto;
  padding: 10px;
}

p {
  display: flex;
  text-align: center;
}

#player {
  width: 80%;

}

@media (max-width: 768px) {
  #player {
    width: 80%;
  }
  .headerbg{
    height: 500px;
  }
}

#background-container {
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}